<div class="beerPage">
<img class = "beer" src="/images/beer.png" alt="beer">
<input class = "buttonBeers" type="button" href='/beers' value="Gheck the beers!" />
<input class = "buttonRandomBeer" type="button" href='/randomBeer' value="Check a Random Beer" />
</div>